@import url('https://fonts.googleapis.com/css?family=Mansalva|Work+Sans&display=swap');

:root {
  --black: #1a1423;
  --arsenic: #3d314a;
  --red: #684756;
  --main: #96705b;
  --sec-main: #c5b1a5;
  --lt-main:#ab8476;
  background: var(--black);
  font-family: 'Work Sans', sans-serif;
}



/* The sidebar menu */
.sidebar {
  display: grid;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: var(--arsenic); 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  text-align: end;
  color: var(--sec-main);
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--lt-main);
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar a.active {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: var(--sec-main);
  color: var(--arsenic);
  padding: 10px 15px;
  border: none;
  border-radius: 25px;
}

.openbtn:hover {
  background-color: var(--lt-main);
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
  background: var(--black);
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

#jumbo {
  background: var(--red);
  margin: -20px;
  color: var(--main);
  text-shadow: 2px 2px var(--black);
  border-radius: 25px;
}

#header {
  text-align: center;
  padding-bottom: 40px;
}

.content {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: 48%;
  align-items: initial;
  margin-bottom: 2%;
  color: var(--main);
}

.item:nth-child(3n-2) {
  width: 100%;
}

#tourButtonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

#tourButton {
  background: var(--sec-main);
  border: 1px var(--sec-main);
}

#groupphoto {
  max-width: 100%;
  height: auto;
}

.news {
  text-align: center;
  background: var(--red);
  text-shadow: 2px 2px var(--black);
  row-gap: 0%;
}

.card {
  border: 0px;
}

#newsButtDiv {
  padding-top: 5px;
}

#newsButt {
  background: var(--sec-main);
  border: 1px var(--sec-main);
}